# Frontend API URL
VITE_API_BASE_URL=http://localhost:8080/api

# App config
VITE_APP_NAME=TrendScholar
VITE_ENV=development

# Backend
PORT=8080
JWT_SECRET=your_jwt_secret_key

# Local PostgreSQL Database
DATABASE_URL=postgresql://admin:admin123@localhost:5432/scientific_trend_db